.nameContainer {
  display: flex;
  flex-direction: row;
}

.uNamePhoneContainer {
  display: flex;
  flex-direction: row;
}

.brgyCityContainer {
  display: flex;
  flex-direction: row;
}

.provinceBDateContainer {
  display: flex;
  flex-direction: row;
}

.passwordContainer {
  display: flex;
  flex-direction: row;
}

/* .bDateContainer {
  display: flex;
  flex-direction: row;
}

.bDateLabel,
.bDateInput {
  display: inline-block;
  margin-right: 10px;
} */

.givenName,
.surName {
  display: inline-block;
  margin-right: 10px;
}

.userName,
.phone {
  display: inline-block;
  margin-right: 10px;
}

.brgy,
.city {
  display: inline-block;
  margin-right: 10px;
}

.province,
.bDateContainer {
  display: inline-block;
  margin-right: 10px;
}

.pWord,
.cPWord {
  display: inline-block;
  margin-right: 10px;
}

input.signup-error,
select.signup-error {
  border-color: #fc8181;
}

.signupError {
  font-size: 10px;
  color: red;
  margin-top: 0px;
  margin-left: 5%;
  text-align: left;
}

.signinError {
  font-size: 12px;
  color: red;
  margin-left: -230px;
  margin-top: 0px;
  text-align: left;
}

.fName {
  border-radius: 20px;
}
